# Ignore node_modules in both backend and frontend
backend/node_modules/
frontend/node_modules/

# Ignore environment files
backend/.env
frontend/.env

# Ignore debug logs
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Ignore OS-specific files
.DS_Store

# Ignore build artifacts
backend/dist/
frontend/build/
